@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fffdf2;
  font-size: 14px;
}

hr {
  border: none;
  height: 0.2px;
  width: 100%;
  background-color: #000;
}

.heading {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 62px;
  letter-spacing: -0.02em;
}
form {
  margin-top: 1rem;

  border: 1px solid #dcdcdc;
  border-top: 1px solid #c5c4c4;
  border-left: 1px solid #c5c4c4;
  border-radius: 4px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-label {
  width: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.form-input {
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: 0.7px solid #dcdcdc;
  border-radius: 4px;
}

.form-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-input button {
  margin-top: 1rem;
  background: #c4fde5;
  border: 1.2px solid #000000;
  border-radius: 4px;

  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.user-input button:hover {
  background: #b8ffb8;
  border: 1.5px solid #5400b4;
  color: #5400b4;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
}

.content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.floor {
  margin-top: 1rem;
  width: 50%;
  height: 8rem;
  padding: 0.5rem;
  font-weight: 600;
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;
}

.floorText {
  margin-top: 0.4rem;
  margin-left: -10rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  border-radius: 50%;
  padding: 1.2rem;
  width: 4rem;
  height: 4rem;
  background-color: #f4cfcf;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.upButton,
.downButton {
  border: none;
  border-radius: 2px;
  width: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.upButton:hover {
  background: #bdb8ff;
  border: 1px solid #d8d5ff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.downButton:hover {
  background: #b8ffb8;
  border: 1px solid #d4ffd6;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.upButton {
  background: #d8d5ff;
}

.downButton {
  background: #d4ffd6;
}

.floorButtonHolder {
  margin-left: 6rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.liftHolder {
  margin-top: -5rem;
  margin-left: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.lift {
  border: 4px solid #323232;
  border-radius: 4px;
  height: 4.5rem;
  width: 3.2rem;
  display: flex;
  padding: 0;
  margin: 0;
}
.liftLeftDoor,
.liftRightDoor {
  margin: 0;
  height: 4rem;
  width: 1.6rem;
  background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%);
}
.liftLeftDoor {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 4px;
  border-right: 1.2px solid #000000;
}
.liftRightDoor {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 4px;
  border-left: 1.2px solid #000000;
}
.footer {
  margin-top: 40vh;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.footer-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
}

.footer-text a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
}

.attribution {
  font-size: 11px;
  text-align: right;
  color: #888;
}

.attribution a {
  text-decoration: none;
}
